*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
nav{
    /* TEST */
    background-color: goldenrod;
}

.navigation{
    padding: 10px 0px;
    /* TEST */
    background-color: aqua;
}

.logo, .login{
    width: calc(100% * (1 / 5) )
}

.login{
    text-align: end;
}

.menu{
    width: calc(100% * (3 / 5))
}

ul.flex-container{
    justify-content: center;
    gap: 5px;
}

.flex-container>div{
    padding: 5px;
    /* TEST */
    border: 1px dotted black;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Common */
.container{
    width: 70%;
    margin: auto;
}

.flex-container{
    display: flex;
}
